

@import "abstracts/variables";
@import "abstracts/animations";
@import "abstracts/mixins";

@import "abstracts/utilities";

@import "base/base";

@import "layout/header";
@import "layout/grid";
@import "layout/nav";
@import "layout/footer";

@import "base/typography";

@import "components/button";
@import "components/compositions";
@import "components/features";
@import "components/card";
@import "components/form";

@import "pages/home";

// h1 {


//     text-align: left;
//     margin-left: 2em;
//     font-size: 4rem; 
//     color: white;
// } 

// .s1 { 
//     background: #023373;
//     background-size: cover;

// }

.fp-controlArrow {
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
}
.fp-controlArrow.fp-prev {
    left: 100px;
    width: 0;
    border-width: 15.5px 15px 15.5px 0;
    border-color: transparent #fff transparent transparent;

        @media (max-width: 600px) {
            border-color: transparent transparent transparent transparent;

            left: 20px; 
            z-index: -100;
        }

}
.fp-controlArrow.fp-next {
    right: 100px;
    border-width: 15.5px 0 15.5px 15px;
    border-color: transparent transparent transparent #fff;

    @media (max-width: 600px) {
    border-color: transparent transparent transparent transparent;
        
        right: 20px; 
        z-index: -100;
    }
}
 
body {
    height: 100%;
    background-image: linear-gradient(to right bottom, rgba($primary, 0.7), rgba($terciary, 0.7) ), url(../../img/back.jpg);
    background-size: cover;
    background-position: top;
    // visibility: hidden;
}

#contendor_carga {
    background: $primary;
    z-index: 10000;
    position: fixed;
    height: 100%;
    width: 100%;
    display: table;
    transition: all 1s;

}



.carga {
    // background-color: red;
    
    // border: 15px solid green;
    // border-top-color: #f4266A ; 
    // border-top-style: groove ;
    // height: 100px;
    // width: 100px;
    // border-radius: 100%;
    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    // margin: auto;
    // z-index: 10000;



    // font-family: Lato;
    float: left;
    font-size: 8rem;
    color: #fff;
    position: relative;
    top: 20%;
    right: -50%;
    transform: translate(-50%, 50%);
    font-weight: 400;
    @media (max-width: 600px) {
        
        right: -55%;
    }


    .carga__span {
        position: absolute;
        right: 0;
        width: 0;
        background: $primary  !important;
        border-left: 1px solid #000; 
        animation: maquina 3s infinite alternate steps(6);
    }

}

@keyframes maquina {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}