.card {

    // FUNCTIONALITY
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 32rem;
    margin-top: -20rem;
    @media only screen and (min-width: 56.25em){
        width: 50%;
        top: -2rem;
        left: 30rem;
    }
    @media only screen and (max-width: 56.25em){
        // width: 50%;
        
        top: 4rem;
        // left: 30rem;
    }
    // padding-left: 20rem;
    
    &__side {

        height: 32rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        @media only screen and (min-width: 56.25em){

            height: 42rem;

        }
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .7);

        &--front {
            background-color: $color-white;
        }

        &--back {
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, #b88900, #efb810);
            }

            &-2 {
                background-image: linear-gradient(to right bottom, $primary, $terciary);
            }

            &-3 {
                background-image: linear-gradient(to right bottom, #f74780, #fc6998);
            }
        }
    }
  

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }


    // FRONT SIDE STYLING
    &__picture {
        background-size: cover;
        height: 22rem;
        @media only screen and (min-width: 56.25em){

            height: 42rem;

        }
        background-blend-mode:screen ;
        // -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        // clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        // position: relative;
        // right: 1rem;
        // // float: right; 
        
        &--1 {
            background-image: linear-gradient(to right bottom, #b88900, #efb810), 
            url(../../img/beers.jpeg);
            
        }

        &--2 {
            background-image: linear-gradient(to right bottom, $primary, $terciary), 
            url(../../img/mo.jpeg);
        }

        &--3 {
            background-image: linear-gradient(to right bottom, #f74780, #f74780), 
            url(../../img/h.jpeg);
        }
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $color-white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 75%;
    
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &--1 {
            background-image: linear-gradient(to right bottom, 
            rgba(#b88900, .85), 
            rgba(#efb810, .85));
        }

        &--2 {
            background-image: linear-gradient(to right bottom, 
            rgba($primary, .85), 
            rgba($terciary, .85));
        }

        &--3 {
            background-image: linear-gradient(to right bottom, 
            rgba(#f74780, .85), 
            rgba(#fc6998, .85));
        }
    }

    // &__details {
    //     padding: 3rem;

    //     ul {
    //         list-style: none;
    //         width: 80%;
    //         margin: 0 auto;

    //         li {
    //             text-align: center;
    //             font-size: 1.5rem;
    //             padding: 1rem;

    //             &:not(:last-child) {
    //                 border-bottom: 1px solid $color-grey-light-2;
    //             }
    //         }
    //     }
    // }

    // FRONT SIDE STYLING
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }

    &__price-box {
        text-align: center;
        color: $color-white;
        margin-bottom: 8rem;
    }

    &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__price-value {
        font-size: 6rem;
        font-weight: 100;
    }





    //@include respond(tab-port) {
    @media only screen and (max-width: 56.25em),
            only screen and (hover: none) {
        margin-top: -20rem;

        &__picture {
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        }        

        height: auto;
        border-radius: 3px;
        background-color: $color-white;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .8);
        
        &__side {
            height: auto;
            position: relative;
            box-shadow: none;

            &--back {
                transform: rotateY(0);
                clip-path: polygon(0 14%, 100% 0, 100% 100%, 0% 100%);
                &-2 {
                    transform: rotateY(0);
                    clip-path: polygon(0 14%, 100% 0, 100% 100%, 0% 100%);
                }
            }
        }
    
        &:hover &__side--front {
            transform: rotateY(0);
        }

    
        // &__details {
        //     padding: 1rem 3rem;
        // }

        // FRONT SIDE STYLING
        &__cta {
            position: relative;
            top: -3rem;
            height: 13rem;
            left: 0;
            transform: translate(0);
            width: 100%;
            padding: 7rem 4rem 4rem 0rem;
        }

        &__price-box {
            margin-bottom: 3rem;
        }

        &__price-value {
            font-size: 4rem;
        }
    }

}