@mixin claerfix {
    
    &::after {

        content: "";
        display: table;
        clear: both;

    }

}

@mixin list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




// media queries

// 0 - 600px -------> Phone
// 600 - 900px ------> Tablet
// 900 - 1200px --------> tablet landscape
// 1200 - 1800 ----------> is where our normal styles apply
// 1800px ----------------> big desktop


// @mixin mobile {

//     @media (max-width: 600px) {
//         @content
//     }

// }


@mixin respond($break) {
    @if $break == phone {
        @media (max-width: 37.5em) { //600
            @content
        }
    };
    @if $break == tablet {
        @media (max-width: 56.25em) { //900
            @content
        }
    };
    @if $break == tabLand {
        @media (max-width: 75em) { //1200
            @content
        }
    };
    @if $break == bigDesk {
        @media (min-width: 100.5em) {  //1800
            @content
        }
    };
} 